<%= form_for(@task) do |f| %>
  <div class="form-control">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-control">
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  <div class="form-control">
    <%= f.label "Completed" %> <br />
    <%= f.check_box :completed, {}, true, false %> <br />
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
