<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<input type="checkbox" name="completed" <%= "checked" if @task[:completed] %>>

<br>
<br>

<%= link_to "Edit task |", edit_task_path(@task) %>

<%= link_to " Delete task", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
